body {
    background-image: url("background.jpg");
    background-size: cover;
    color: white;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
    background-color: grey;
}

#parent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 75px;
}

.korisnici {
    text-align: center;
    font-size: 30px;
    padding:15px;
}

#izaberi, #bacanje {
    font-size: 24px;
    text-align: center;
}

#pobjednik {
    text-align: center;

}

#igra {
    font-size: 18px;
    width: 100px;
    align-self: center;
    margin: 10px;
}

#pobjednik {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding: 15px;
}

img {
    height: 50px;
    width: 50px;
    place-self: center;
    padding: 20px;
}

#igrac1 {
    display: flex;
    flex-direction: column;
    border: solid;
    background-color: rgba(0, 0, 0, 0.5)
}

#submitBtn {
    width: 70px;
    align-self: center;
}

#racunalo {
    display: flex;
    flex-direction: column;
    border:solid;
    background-color: rgba(0, 0, 0, 0.5)
}

